[user]
	name = Anthony Seure
	email = anthony.seure@gmail.com
[color]
	ui = true
	branch = true
	diff = true
	interactive = true
	status = true
[alias]
	br = branch
	ci = commit
	co = checkout
	dc = diff --cached
	ds = diff --staged
	df = diff
	lg =  log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = log --color --graph       --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	ssn = shortlog -sn
	rs = restore --staged
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
	pager = less -S
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
[color "diff"]
	meta = 11
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse
