[user]
	name = Anthony Seure
	email = anthony.seure@gmail.com
[tag]
  sort = version:refname
[branch]
  sort = -committerdate
[diff]
  algorithm = histogram
[fetch]
  prune = true
  all = true
[color]
	ui = true
	branch = true
	diff = true
	interactive = true
	status = true
[color "diff"]
  whitespace = red reverse
[alias]
	br = branch
	ci = commit
	co = checkout
	dc = diff --cached
	ds = diff --staged
	lg =  log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lgs = log       --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	st = status
	rs = restore --staged
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
[init]
	defaultBranch = main
[github]
	user = aseure
[rerere]
  enabled = true
  autoUpdate = true
[rebase]
  updateRefs = true
[merge]
  conflictStyle = zdiff3
