! General settings
URxvt*termName: rxvt-unicode-256color
URxvt.scrollBar: false

! Interface
URxvt.depth: 32
URxvt.background: #121212
URxvt.foreground: white
URxvt.font: xft:Inconsolata for Powerline:size=12

URxvt.color4: #3465A4
URxvt.color12: #3465A4
